:root {
    --darcula-bg-color: rgb(60, 63, 65);
    --darcula-font-color: rgb(175, 177, 179);
    --darcula-font-color-bright: white;
    --darcula-font-color-lightblue: rgb(104, 151, 187);
    --darcula-font-color-hyperlink: rgb(0, 122, 204);
    --darcula-font-color-select-background: rgb(75, 110, 175);
    --darcula-icon-color: rgb(175, 177, 179);
    --darcula-line-color: rgb(81, 81, 81);

    --darcula-scrollbar-color-bg: rgba(84, 88, 89, 0.5);
    --darcula-scrollbar-color-fg: rgba(175, 177, 179, 0.5);
    --darcula-scrollbar-color-fg-selected: rgba(175, 177, 179, 0.9);
}

body {
    background-color: var(--darcula-bg-color);
    margin: 0 0 0 0;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--darcula-scrollbar-color-fg);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--darcula-scrollbar-color-fg-selected);
}

*::-webkit-scrollbar:hover {
    background-color: var(--darcula-scrollbar-color-bg);
}

hr {
    border: none;
    height: 2px;
    background-color: var(--darcula-line-color);
}

* {
    color: var(--darcula-font-color);
    font-family: "Segoe UI", "Segoe UI Symbol", system-ui;
}

*::selection {
    background-color: var(--darcula-font-color-select-background);
}

.button.button-default-blue{
    background-color: rgb(75, 110, 175);
    border-style:solid;
    border-color:rgb(54,88,128);
    border-radius:10px;

}
.button.button-default-blue:active {
    box-shadow: 0px 0px 22px 1px rgb(54,88,128);
}

.button.button-default{
    background-color: rgb(76,80,82);
    border-style:solid;
    border-color:rgb(94,96,96);
    border-radius:10px;

}
.button.button-default:active {
    box-shadow: 0px 0px 22px 1px rgb(54,88,128);
}

.button.button-default-unlocked{
    background-color: rgb(60,63,65);
    border-style:solid;
    border-color:rgb(94,96,96);
    border-radius:10px;

}


    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 18px;
        margin-right: 10px;
        position: relative;
    }

    input[type="checkbox"]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(60,63,65);
        width: 100%;
        height: 100%;
        border: 1px solid rgb(94,96,96);
        border-radius: 4px;
    }

    input[type="checkbox"]:checked::before {
        content: "✓";
        background-color: rgb(60,63,65);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0px 0px 10px 1px rgb(54,88,128);
        border-radius:4px;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }


.button.iconbutton.help{
        background-color: rgb(60,63,65);
        border-style:solid;
        border-color:rgb(94,96,96);
        border-radius:50px 50px 50px 50px !important;
}