:root {
    --darcula-bg-color: rgb(60, 63, 65);
    --darcula-font-color: rgb(175, 177, 179);
    --darcula-font-color-bright: white;
    --darcula-icon-color: rgb(135, 147, 154);
}

body {
    background-color: var(--darcula-bg-color);
}

* {
    color: var(--darcula-font-color);
}